<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Szczegóły</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <a href="/" class="logo">Moja Strona</a>
        <nav>
            <ul>
                <li><a href="{% url 'idea' %}">Strona Główna</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Wyloguj</a></li>
                    <li><a href="{% url 'post' %}">Dodaj Post</a></li>
                    <li><a href="{% url 'comm' %}">Dodaj Komentarz</a></li>

                    <li class="login_name">{{ user.username }}</li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Rejestracja</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <article>
            <h2>Szczegóły</h2>
            {% if idea %}
                <ul>
                    <li><strong>Nazwa:</strong> {{ idea.name }}</li>
                    <li><strong>Opis:</strong> {{ idea.description }}</li>
                    <li><strong>Status:</strong> {{ idea.status }}</li>
                    <li><strong>Data:</strong> {{ idea.date }}</li>
                    <li><strong>Autor:</strong> {{ idea.author }}</li>
                </ul>
            {% else %}
                <p>Nie znaleziono szczegółów.</p>
            {% endif %}
        <h3>Komentarze:</h3>
            {% if comments %}
                <ul>
                    {% for c in comments %}
                    <li>
                        <strong>Autor:</strong> {{ c.author }}<br>
                        <span>Treść:</span> {{ c.content }}<br>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Brak komentarzy.</p>
            {% endif %}
        </article>
    </main>
</body>
</html>
