<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moje Pomysły</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'idea' %}" class="logo">Moje Pomysły</a>
        <nav>
            <ul>
                <li><a href="{% url 'idea' %}">Strona Główna</a></li>
                {% if user.is_authenticated %}

                    <li><a href="{% url 'post' %}">Dodaj post</a></li>
                    <li><a href="{% url 'comm' %}">Dodaj komentarz</a></li>
                    <li><a href="{% url 'logout' %}">Wyloguj</a></li>
                    <li class="login_name">{{ user.username }}</li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Rejestracja</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <article>
            <h2>Pomysły</h2>
            <div class="main">
            {% if myideas %}
            <ul>
                {% for idea in myideas %}
                    <li>
                        <a href="{% url 'detail_view' idea.id %}">
                            <strong>{{ idea.name }}</strong>
                        </a><br>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
            </div>
        </article>
    </main>
</body>
</html>
